# Auto detect text files and perform LF normalization
* text=auto

# Tell GitHub's Linguist to ignore files in this folder when detecting repo language
# More info at https://github.com/github/linguist#vendored-code
examples/* linguist-vendored
